# Proje 1

Öğrenci not sistemini içeren bir projedir.

Pandas kütüphanesinin import edilmesi.

In [1]:
import pandas as pd

**Öğrenci bilgilerinin girilmesi ve kontrol edilmesi**

Inputlara girilen değerlerin fonksiyon içerisinde kontrolü ve doğru çıktıların bir sonraki aşamaya aktarılması. Number ve result değişkenlerinin int veri göndermesi, negatif sayı içermemesi ve result değişkeninin 100'den büyük olmaması sağlanır.

In [4]:
def inputControl(number, result): #Control Function
    
    while True:
        try: 
            number = int(number)
            result = int(result)

            assert number >= 0 # Test if it is negative
            assert result >= 0 # Test if it is negative
            assert result <= 100 # Test if it is greater than 100
            break
        except AssertionError:
            if result > 100 or result < 0:
              print("The result cannot be negative or greater than 100. Please re-enter!")
              result = input('Exam Result: ')
            elif number < 0:
              print("The school number you entered is negative. Please re-enter!")
              number = input('School Number: ')
            else:
              result = input('Exam Result: ')
              number = input('School Number: ')
            
        except ValueError:
            print('School number and exam result can only be numbers! Please re-enter!')
            number = input('School Number: ')
            result = input('Exam Result: ')
    return (number, result)
    
name = input('Name: ')
lastname = input('Surname: ')
number = input('number : ')
result = input("result : ")

number, result = inputControl(number, result)

Name: Ad
Surname: soyad
number : -10
result : 10
The school number you entered is negative. Please re-enter!
School Number: 15

**Not aralığının oluşturulması ve öğrencinin geçip geçmediğinin kontrolü**

Not aralıkları if koşulu ile girilen not süzgeçten geçirilir, öğrencinin geçip geçmediği bilgisi değişkene atanır ve bir sonraki aşamaya aktarılır. Notlara karşılık gelen harf notu wikipediadan alınmıştır. [Kaynağa buradan ulaşılabilir.](https://en.wikipedia.org/wiki/Academic_grading_in_the_United_States)

In [7]:
if int(result) >= 90 or int(result) >= 100:
    status = 'Passed'
    letter_grade = 'A'
elif int(result) >= 80 or int(result) >= 89:
    status = 'Passed'
    letter_grade = 'B'
elif int(result) >= 70 or int(result) >= 79:
    status = 'Passed'
    letter_grade = 'C'
elif int(result) >= 60 or int(result) >= 69:
    status = 'Passed'
    letter_grade = 'D'
elif int(result) >= 0 or int(result) >= 59:
    status = 'Failed'
    letter_grade = 'F'
    result
else:
    status = 'Invalid value.'
    letter_grade = ''
    
print(status, letter_grade, result)

Failed F 10

**Gelen verilerin "CSV" dosyasına yazdırılması**

Pandas kütüphanesi kullanılarak veriler "studentList.csv" dosyasına yazdırılır. Seçilen(Matematik) ders burada belirlenir.

In [ ]:
student_dict = {'Name': [name],
                'Surname': [lastname],
                'School Number': [number],
                'Exam Result': [result],
                'Letter Grade': [letter_grade],
                'Status': [status],
                'Lesson': 'Math'
               }
student_list = pd.DataFrame(student_dict)
student_list.to_csv("studentList.csv", mode='a', header=False, index=False)

**CSV dosyasına yazılan verilerin görüntülenmesi**

"studentList.csv" dosyasına yazılan veriler ekrana tablo halinde yazdırılır. Bu aşamada hangi öğrenci kaç puan alarak geçip geçmediği bilgisine ulaşılabilir.

In [ ]:
student_list = pd.read_csv("studentList.csv")
student_list
#student_list[student_list["Exam Result"] >= 80]

     Name   Surname  School Number  Exam Result Letter Grade  Status Lesson
0   Ahmet    Mehmet            223           75            C  Passed   Math
1   Sinan  Sarikaya            454           85            B  Passed   Math
2     Ali      Veli            887           40            F  Failed   Math
3  Mahmut      Ates            332           70            C  Passed   Math
4    Test    deneme            196          100            A  Passed   Math