In [76]:
import pandas as pd

In [90]:
def inputControl(number, result): #Control Function
    try:
        number = int(number)
        result = int(result)
        assert result >= 0 # Test if it is negative
        assert result <= 100 # Test if it is greater than 100
    except AssertionError:
        return"The number you entered is negative or greater than 100. Please re-enter!"
        #number = input('School Number: ')
        #result = input('Exam Result: ')
    except ValueError:
        return 'School number and exam result can only be numbers! Please re-enter!'
        #number = input('School Number: ')
        #result = input('Exam Result: ')
    
name = input('Name: ')
lastname = input('Surname: ')
number = input('School Number: ')
result = input('Exam Result: ')

inputControl(number, result)

Name: Melike
Surname: Gorgulu
Okul No: 201601
Sinav Notu: 100

In [91]:
if int(result) >= 90 or int(result) >= 100:
    status = 'Geçti'
    letter_grade = 'A'
elif int(result) >= 80 or int(result) >= 89:
    status = 'Geçti'
    letter_grade = 'B'
elif int(result) >= 70 or int(result) >= 79:
    status = 'Geçti'
    letter_grade = 'C'
elif int(result) >= 60 or int(result) >= 69:
    status = 'Geçti'
    letter_grade = 'D'
elif int(result) >= 0 or int(result) >= 59:
    status = 'Kaldı'
    letter_grade = 'F'
    result
else:
    status = 'Geçersiz değer.'
    letter_grade = ''
    
print(status, letter_grade, result)

Geçti A 100

In [92]:
student_dict = {'Name': [name],
                'Surname': [lastname],
                'School Number': [number],
                'Exam Result': [result],
                'Letter Grade': [letter_grade],
                'Status': [status],
                'Lesson': 'Math'
               }
student_list = pd.DataFrame(student_dict)
student_list.to_csv("studentList.csv", mode='a', header=False, index=False)

In [93]:
student_list = pd.read_csv("studentList.csv")
student_list
#student_list[student_list["Exam Result"] >= 80]

     Name   Surname  School Number  Exam Result Letter Grade Status Lesson
0   Ahmet    Mehmet            223           75            C  Geçti   Math
1   Sinan  Sarikaya            454           85            B  Geçti   Math
2     Ali      Veli            887           40            F  Kaldı   Math
3  Melike   Gorgulu         201601          100            A  Geçti   Math