# Proje 1

Öğrenci not sistemini içeren bir projedir.

In [ ]:
import pandas as pd

In [ ]:
def inputControl(number, result): #Control Function
    
    while True:
        try: 
            number = int(number)
            result = int(result)
            assert result >= 0 # Test if it is negative
            assert result <= 100 # Test if it is greater than 100
            break
        except AssertionError:
            print("The number you entered is negative or greater than 100. Please re-enter!")
            number = input('School Number: ')
            result = input('Exam Result: ')
        except ValueError:
            print('School number and exam result can only be numbers! Please re-enter!')
            number = input('School Number: ')
            result = input('Exam Result: ')
    return (number, result)
    
name = input('Name: ')
lastname = input('Surname: ')
number = input('number : ')
result = input("result : ")

number, result = inputControl(number, result)

Name: Test
Surname: deneme
number : 196
result : 105
The number you entered is negative or greater than 100. Please re-enter!
School Number: 196
Exam Result: 100

In [ ]:
if int(result) >= 90 or int(result) >= 100:
    status = 'Passed'
    letter_grade = 'A'
elif int(result) >= 80 or int(result) >= 89:
    status = 'Passed'
    letter_grade = 'B'
elif int(result) >= 70 or int(result) >= 79:
    status = 'Passed'
    letter_grade = 'C'
elif int(result) >= 60 or int(result) >= 69:
    status = 'Passed'
    letter_grade = 'D'
elif int(result) >= 0 or int(result) >= 59:
    status = 'Failed'
    letter_grade = 'F'
    result
else:
    status = 'Invalid value.'
    letter_grade = ''
    
print(status, letter_grade, result)

Passed A 100

In [ ]:
student_dict = {'Name': [name],
                'Surname': [lastname],
                'School Number': [number],
                'Exam Result': [result],
                'Letter Grade': [letter_grade],
                'Status': [status],
                'Lesson': 'Math'
               }
student_list = pd.DataFrame(student_dict)
student_list.to_csv("studentList.csv", mode='a', header=False, index=False)

In [ ]:
student_list = pd.read_csv("studentList.csv")
student_list
#student_list[student_list["Exam Result"] >= 80]

     Name   Surname  School Number  Exam Result Letter Grade  Status Lesson
0   Ahmet    Mehmet            223           75            C  Passed   Math
1   Sinan  Sarikaya            454           85            B  Passed   Math
2     Ali      Veli            887           40            F  Failed   Math
3  Mahmut      Ates            332           70            C  Passed   Math
4    Test    deneme            196          100            A  Passed   Math